@import 'pure.min.css';
@import 'flipclock.css';

$font-stack:    "Helvetica Neue", Helvetica, sans-serif;
$primary-color: #333;

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  font: 100% $font-stack;
  color: $primary-color;
}

#sessionContainer {
  margin-top: 10%;
  display: none;
}

#menuContainer {
  width: 100%;
  margin-top: 10%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-button {
  margin: 3px;
  display: none;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
  color: white;
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
}
