@import 'pure.min.css';

$font-stack:    "Helvetica Neue", Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#sessionContainer {
  margin: 20px;
}

.break-button {
  margin: 3px;
  display: none;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
  color: white;
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
}

