@import '~flipclock/compiled/flipclock.css';
@import '~no-ui-slider/css/nouislider.css';

$font-stack:    "Helvetica Neue", Helvetica, sans-serif;
$primary-color: #333;
$session-color: #9b59b6;
$break-color: #f1c40f;
$overdue-color: #e74c3c;

body {
  // transition for the color changes
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  font: 100% $font-stack;
  color: $primary-color;
}

.sessionBody {
  background-color: lighten($session-color, 20% );
}

.breakBody {
  background-color: lighten($break-color, 20% );
}

#sessionContainer {
  display: none;
  flex-direction: column;
  align-items: center;

  margin-top: 10%;
}

#menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 10%;
}

.pure-control-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.validation-message {
  display: none;
  color: rgb(202, 60, 60);
  font-weight: 700;
}

.clock {
}

.pure-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  padding-top: 20px;
  min-width: 126px;
  flex-wrap: nowrap;
}

input[type=number] {
  display: inline;
  width: 3em;
  height: 30px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
  border-width: 2px;
  text-align: center;
  font-size: 14px;
}

input[type=number]:focus {
  outline: 0;
  border-color: #aaa;
}

.slider {
  width: 70%;
  max-width: 600px;
}

.slider .noUi-base {
  background: #7f8c8d;
}

.button {
    color: white;
    border: none;
    height: 35px;
    font-size: 16px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.start-button {
  margin-top: 30px;
  width: 30%;
  min-width: 135px;
  max-width: 300px;
}

.break-button {
  margin: 3px;
}

.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60);
}

